<!DOCTYPE html>
<html>
  <head>
    <title>User Details</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="static/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="static/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="static/css/responsive.css">
    <link rel="stylesheet" href="static/css/owl.carousel.css">
    <link rel="stylesheet" href="static/css/slick.css">

    <!-- color -->
    <link id="changeable-colors" rel="stylesheet" href="static/css/colors/orange.css" />

    <!-- Modernizer -->
    <script src="static/js/modernizer.js"></script>
    

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <link rel="stylesheet" href="../static/css/userdetails.css" />
    <style>
      body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

    #header{
      background-color: #202020;

    }
    table {
        /* background-color: #fff; */
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        overflow: hidden;
      }
      th {
        color:  #e75b1e;
        /* color: #ffffff; */
      }
      /* th, */
      /* td {
        text-align: left;
        padding: 12px;
      }
       */
    </style>
  </head>
  <body>
    <div id="site-header">
      <header id="header" class="header-block-top">
          <div class="container">
              <div class="row">
                  <div class="main-menu">
                      <!-- navbar -->
                      <nav class="navbar navbar-default" id="mainNav">
                          <div class="navbar-header">
                              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                  <span class="sr-only">Toggle navigation</span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                              </button>
                              <div class="logo">
                                  <a class="navbar-brand js-scroll-trigger logo-header" href="#">
                                      <img src="static/images/logo.png" alt="">
                                  </a>
                              </div>
                          </div>
                          <div id="navbar" class="navbar-collapse collapse">
                              <ul class="nav navbar-nav navbar-right">
                                  <li ><a href="{{ url_for('index') }}">Home</a></li>
                                  <li><a href="{{ url_for('index') }}#about">About us</a></li>
                                  <li><a href="{{ url_for('index') }}#menu">Restaurants</a></li>
                                  <!-- <li><a href="#our_team">Team</a></li> -->
                                  <!-- <li><a href="#gallery">Gallery</a></li> -->
                                  <!-- <li><a href="#blog">Blog</a></li> -->
                                  <!-- <li><a href="#pricing">pricing</a></li> -->
                                  <li><a href="{{ url_for('index') }}#reservation">Delivery</a></li>
                                  <li></li>
                                  <li><a href="{{ url_for('home1') }}" 
                                    >Nutrient</a
                                  ></li>
                                  <li><a href="#footer">Contact us</a></li>
                                  <li class="active"><a href="{{ url_for('userdetails') }}" 
                                    >User Profile</a
                                  ></li>
                                  <li><a href="{{ url_for('home') }}" >Sign Out</a></li>
                       
                                </ul>
                          </div>
                          <!-- end nav-collapse -->
                      </nav>
                      <!-- end navbar -->
                  </div>
              </div>
              <!-- end row -->
          </div>
          <!-- end container-fluid -->
      </header>
      <!-- end header -->
  </div>

<div class="container rounded bg-white mt-5 mb-5" style="padding-top: 100px;">
    <h4 class="text-center block-title">Account Details </h4>

    <div class="row">
        <!-- Profile Photo and Email -->
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px"
                     src="{{ user.profile_pic_url|default('https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg') }}">
                <br><br><span class="font-weight-bold">{{ user.first_name }} {% if user.middle_name == "" or user.middle_name is none %}
                    <!-- Render an empty space if middle_name is "null" or None -->
                    <!-- <span>&nbsp;</span> -->
                {% else %}
                    <!-- Render the middle_name if it's not "null" or None -->
                    {{ user.middle_name }}
                {% endif %} {{ user.last_name }}</span>
                <span class="text-black-50">{{ user.email }}</span>
            </div>
        </div>
        <!-- Profile Info (Editable Form) -->
<div class="col-md-5 border-right" style="margin-left: 30px;">
    <form method="POST" action="/update_userdetails">  <!-- you need a POST route to handle this -->
        <div class="p-3 py-5">
            <div class="row mt-2">
                <div class="col-md-6 mb-3">
                    <label class="labels">First Name</label>
                    <input type="text" class="form-control" name="first_name" value="{{ user.first_name }}">
                </div>
                <div class="col-md-6 mb-3">
                    <label class="labels">Middle Name</label>
                    <input type="text" class="form-control" name="middle_name" value="{{ user.middle_name or '' }}">
                </div>
                <div class="col-md-6 mb-3">
                    <label class="labels">Last Name</label>
                    <input type="text" class="form-control" name="last_name" value="{{ user.last_name }}">
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-12 mb-3">
                    <label class="labels">Email ID</label>
                    <input type="email" class="form-control" name="email" value="{{ email }}">
                </div>
                <div class="col-md-12 mb-3">
                    <label class="labels">Password</label>
                    <input type="password" class="form-control" name="password" value="{{ user.password }}">
                </div>
                <div class="col-md-12 mb-3">
                    <label class="labels">Mobile Number</label>
                    <input type="text" class="form-control" name="phone" value="{{ phone }}">
                </div>
                <div class="col-md-12 mb-3">
                    <label class="labels">Date of Birth</label>
                    <input type="date" class="form-control" name="dob" value="{{ user.dob }}">
                </div>

                {% for _address in address %}
                <div class="col-md-12 mb-3">
                    <label class="labels">Building Name</label>
                    <input type="text" class="form-control" name="building_name" value="{{ _address.building_name }}">
                </div>
                <div class="col-md-12 mb-3">
                    <label class="labels">Street</label>
                    <input type="text" class="form-control" name="street" value="{{ _address.street }}">
                </div>
                <div class="col-md-12 mb-3">
                    <label class="labels">City</label>
                    <input type="text" class="form-control" name="city" value="{{ _address.city }}">
                </div>
                <div class="col-md-12 mb-3">
                    <label class="labels">Postcode</label>
                    <input type="text" class="form-control" name="pin_code" value="{{ _address.pin_code }}">
                </div>
                <div class="col-md-12 mb-3">
                    <label class="labels">State</label>
                    <input type="text" class="form-control" name="state" value="{{ _address.state }}">
                </div>
                {% endfor %}
                
                <div class="col-md-12 mb-3">
                    <label class="labels">Country</label>
                    <input type="text" class="form-control" name="country" value="India" readonly>
                </div>
            </div><br>

            <div class="mt-5 text-center">
                <button class="btn btn-primary profile-button" type="submit">Save Changes</button>
            </div>
        </div>
    </form>
</div>


        <!-- Experience -->
     
    </div>
</div>
<br>
<br>
  <div id="userdetails" class="container">
    
    <h2 class="block-title text-center">Orders</h2>
    <div class="table-responsive">

    <table class="table">
      <tr style="font-family: nautilus_pompiliusregular; font-size: x-large; ">
        <th>Order ID</th>
        <th>Date</th>
        <th>Time</th>
        <th>Total Amount</th>
        <th>Ordered items</th>
      </tr>
      {% for order in orders %}
      <tr style="color: black; font-size: large;">
        <!-- <tr> -->
        <td>{{ order.order_id }}</td>
        <td>{{ order.placed_time.date() }}</td>
        <td>{{ order.placed_time.time() }}</td>
        <td>{{ order.amount }}</td>
        <td>
          <table>
            <tr>
              <th>Food Item</th>
              <th>Item Type</th>
              <th>Item Price</th>
              <th>Item Rating</th>
              <!-- <th>Count</th> -->
            </tr>
            {% for item in food_items %}
            <tr>
              {% if order.order_id == item.order_id %}
              <td>{{ item.food_item.item_name }}</td>
              <td>{{ item.food_item.item_type }}</td>
              <td>{{ item.food_item.item_price }}</td>
              <td>{{ item.food_item.item_rating }}</td>
              <!-- <td>{{ item.food_item.order_count }}</td> -->
              {% endif %}
            </tr>
            {% endfor %}
          </table>
        </td>
      </tr>
      {% endfor %}
    </table>
</div>
</div>


  <div id="footer" class="footer-main">
    <div class="footer-news pad-top-100 pad-bottom-70 parallax">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                        <h2 class="ft-title color-white text-center"> Newsletter </h2>
                        <p> Stay Updated with the Latest Flavors, Deals & More!</p>
                    </div>
                    <form>
                        <input type="email" placeholder="Enter your e-mail id">
                        <a href="#" class="orange-btn"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a>
                    </form>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end footer-news -->
    <div class="footer-box pad-top-70">
        <div class="container">
            <div class="row">
                <div class="footer-in-main">
                    <div class="footer-logo">
                        <div class="text-center">
                            <img src="static/images/logo.png" alt="" />
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="footer-box-a">
                            <h3>About Us</h3>
                            <p>At Food Funday, we believe every meal should be a celebration.
                                 We bring the best dishes from your favorite restaurants right to your doorstep — fresh, fast, and full of flavor.</p>
                            <ul class="socials-box footer-socials pull-left">
                                <li>
                                    <a href="#">
                                        <div class="social-circle-border"><i class="fa  fa-facebook"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="social-circle-border"><i class="fa fa-twitter"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="social-circle-border"><i class="fa fa-google-plus"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="social-circle-border"><i class="fa fa-pinterest"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="social-circle-border"><i class="fa fa-linkedin"></i></div>
                                    </a>
                                </li>
                            </ul>

                        </div>
                        <!-- end footer-box-a -->
                    </div>
                    <!-- end col -->
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="footer-box-b">
                            <h3>Popular cuisines</h3>
                            <ul>
                                <li><a href="{{ url_for('index') }}#menu"> Hyderabadi</a></li>
                                <li><a href="{{ url_for('index') }}#menu"> Kerala</a></li>
                                <li><a href="{{ url_for('index') }}#menu"> Maharahstrian</a></li>
                                <li><a href="{{ url_for('index') }}#menu"> Parsi</a></li>
                            </ul>
                        </div>
                        <!-- end footer-box-b -->
                    </div>
                    <!-- end col -->
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="footer-box-c">
                            <h3>Contact Us</h3>
                            <p>
                                <i class="fa fa-map-signs" aria-hidden="true"></i>
                                <span>6 E, Gandhi Road, Bengaluru, India</span>
                            </p>
                            <p>
                                <i class="fa fa-mobile" aria-hidden="true"></i>
                                <span>
                                +91 80005 89080 
                            </span>
                            </p>
                            <p>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span><a href="#">support@foodfunday.com</a></span>
                            </p>
                        </div>
                        <!-- end footer-box-c -->
                    </div>
                    <!-- end col -->
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="footer-box-d">
                            <h3>Opening Hours</h3>

                            <ul>
                                <li>
                                    <p>Monday - Thursday </p>
                                    <span> 11:00 AM - 9:00 PM</span>
                                </li>
                                <li>
                                    <p>Friday - Saturday </p>
                                    <span>  11:00 AM - 5:00 PM</span>
                                </li>
                            </ul>
                        </div>
                        <!-- end footer-box-d -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end footer-in-main -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
        <div id="copyright" class="copyright-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h6 class="copy-title"> Copyright &copy; 2025 Food Funday. All rights are received.  </h6>
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end copyright-main -->
    </div>
    <!-- end footer-box -->
</div>
  <!-- end footer-main -->

  <!-- <a href="#" class="scrollup" style="display: none;">Scroll</a> -->


  <!-- ALL JS FILES -->
  <script src="staitc/js/all.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <!-- ALL PLUGINS -->
  <script src="static/js/custom.js"></script>
  <script src="static/js/all.js"></script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/typer-js@1.0.0/typer.min.js"></script> -->
<!-- Typing effect JS -->
<!-- <script src="https://unpkg.com/typer-js@1.0.0/typer.min.js"></script> -->


  <script>
    function goBack() {
        window.history.back();
      }

       $(window).scroll(function () {
      if ($(this).scrollTop() > 50) { 
          $('#header').addClass('fixed-menu');
      } else {
          $('#header').removeClass('fixed-menu');
      }
  });
      $(document).ready(function(){
        $("#owl-demo").owlCarousel({
          items: 3,
          loop: true,
          margin: 10,
          autoplay: true,
          autoplayTimeout: 3000,
          autoplayHoverPause: true
        });
      });
      $('.slider-single').slick({
  slidesToShow: 1,
  slidesToScroll: 1,
  arrows: false,
  fade: false,
  adaptiveHeight: true,
  infinite: false,
  useTransform: true,
  speed: 400,
  cssEase: 'cubic-bezier(0.77, 0, 0.18, 1)',
  asNavFor: '.slider-nav' // 🔥 Important: link to slider-nav
});

$('.slider-nav').slick({
  slidesToShow: 4,
  slidesToScroll: 1,
  asNavFor: '.slider-single', // 🔥 Important: link to slider-single
  dots: false,
  centerMode: false,
  focusOnSelect: true,
  infinite: false,
  responsive: [
      {
          breakpoint: 1024,
          settings: {
              slidesToShow: 4,
              slidesToScroll: 1,
          }
      },
      {
          breakpoint: 769,
          settings: {
              slidesToShow: 4,
              slidesToScroll: 1,
          }
      },
      {
          breakpoint: 420,
          settings: {
              slidesToShow: 3,
              slidesToScroll: 1,
          }
      }
  ]
});

// Highlight the active tab
$('.slider-single').on('afterChange', function(event, slick, currentSlide) {
  $('.slider-nav .slick-slide').removeClass('is-active');
  $('.slider-nav .slick-slide[data-slick-index="' + currentSlide + '"]').addClass('is-active');
});
    </script>
  </body>
</html>
