<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/general.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/styles1.css')}}">


    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../../static/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slick.css') }}">

    <!-- color -->
    <link id="changeable-colors" rel="stylesheet" href="{{ url_for('static', filename='css/colors/orange.css') }}">

    <!-- Modernizer -->
    <script src="{{ url_for('static', filename='js/modernizer.js') }}"></script>

    

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
    #header{
        background-color: #202020;
    }
</style>

</head>
<body>  
    <div id="site-header">
        <header id="header" class="header-block-top">
            <div class="container">
                <div class="row">
                    <div class="main-menu">
                        <!-- navbar -->
                        <nav class="navbar navbar-default" id="mainNav">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <div class="logo">
                                    <a class="navbar-brand js-scroll-trigger logo-header" href="#">
                                        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="">
                                    </a>
                                </div>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="active"><a href="#banner">Home</a></li>
                                    <li><a href="#about">About us</a></li>

                                    
                                    <li><a href="{{ url_for('home1') }}" 
                                        >Nutrient</a
                                      ></li>
                                      <li><a class=" open-form" href="#">Add Food</a></li>
                                      <li><a class="food-detail" href="{{url_for('foodDetails')}}">Food Details</a></li>
                                      <li><a href="{{ url_for('userdetails') }}" 
                                        >User Profile</a
                                      ></li>
                                      <li><a href="#footer">Contact us</a></li>

                                    <li><a href="{{ url_for('home')}}" >Sign Out</a></li>
                                  </ul>
                            </div>
                            <!-- end nav-collapse -->
                        </nav>
                        <!-- end navbar -->
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container-fluid -->
        </header>
        <!-- end header -->
    </div>
    <!-- <header class="header">
        <p class="food-tracker">
            Food Tracker
        </p>

        <nav class="nav">
            <ul>
                <li><a class="nav-link home" href="{{url_for('home1')}}">Home</a></li>
                <li><a class="nav-link open-form" href="#">Add Food</a></li>
                <li><a class="nav-link food-detail" href="{{url_for('foodDetails')}}">Food Details</a></li>
            </ul>
        </nav>

    </header> -->
    	
  

    {% block body %}
    {% endblock %}   
    <div class="food-container hidden">
        <button class="close-container">&times;</button>
        <p class="food-details"> Enter Food Details</p>
        <form action="/" method="POST" class="food-form">
            <label for="food-name">Meal Name</label>
            <input type="text" name="food-name" id="food-name" class="input-field" placeholder="Food Name">
            <label for="food-name">Protein</label>
            <input type="number" name="protein" id="protein" class="input-field" placeholder="eg.15">
            <label for="carbs">Carbohydrates</label>
            <input type="number" name="carbs" id="carbs" class="input-field" placeholder="eg.2">
            <label for="fat">Fat</label>
            <input type="number" name="fat" id="fat" class="input-field" placeholder="eg.14">
            <button type="submit" class="btn" name="food-btn">Add</button>
        </form>
    </div>
    <div class="overlay hidden"></div>
    <script src="{{url_for('static', filename = 'js/script1.js')}}"></script> 
</body>
</html>