<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Details</title>
    <!-- <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    /> -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="static/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="static/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="static/css/responsive.css">
    <link rel="stylesheet" href="static/css/owl.carousel.css">
    <link rel="stylesheet" href="static/css/slick.css">

    <!-- color -->
    <link id="changeable-colors" rel="stylesheet" href="static/css/colors/orange.css" />

    <!-- Modernizer -->
    <script src="static/js/modernizer.js"></script>
    

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <style>
      body {
        /* font-family: "Arial", sans-serif; */
        background-color: #f8f9fa;
        color: #333;
        /* margin-top: 20px; */
      }

      .special-menu {
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0; /* Gives top and bottom space */
}

.parallax1 {
  background-image: url('../../static/images/special_menu_bg.jpg'); /* Replace with your image path */
}

.special-menu .container {
  position: relative;
  z-index: 2; /* This brings content to front */
  
  padding: 30px;
  border-radius: 10px;
}

.special-menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3); /* Optional: Adds dark overlay over image */
  z-index: 1; /* Background overlay behind content */
}
      .restaurant-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }

  .restaurant-card h2 {
    color: #e75b1e;
    margin-bottom: 20px;
  }

  .info-line {
    margin-bottom: 10px;
    /* font-size: 16px; */
    font-weight: bold;
    color: black;
    
  }

  .info-line .label {
    display: inline-block;
    width: 150px; /* Adjust width so colons are aligned */
    font-weight: bold;
    color: black;
    font-size: 16px;
    text-align: left;
  }
      table {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        overflow: hidden;
      }
      th {
        background-color:  #e75b1e;
        color: #ffffff;
      }
      th,
      td {
        text-align: left;
        padding: 12px;
      }
      
      /* .img-fluid {
        border-radius: 5px;
        margin-bottom: 15px;
      } */
      .btn-primary,
      .btn-danger {
        margin-top: 10px;
      }
      .container1 {
        margin-bottom: 50px;
      }
      .btn-back {
        background-color: #555;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        display: block;
        margin: 20px auto;
        width: 100%;
        max-width: 200px;
      }

      #foodmenu {
	background: url(../../static/images/blog_bg.jpg) no-repeat center;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
}



#foodimg{
  /* margin-bottom: 30px; */
        padding: 20px 20px 0px 20px;
        /* border: 1px solid #ddd; */
        background-color: white;
        /* border-radius: 5px 5px 0px 0px; */
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
        position: relative;
        /* color: black; */

}
      .menu-item {
        margin-bottom: 30px;
        padding: 20px;
        /* border: 1px solid white; */
        background-color: white;
        border-radius: 5px 5px 5px 5px; 
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
        position: relative;
        /* color: black; */
        /* background-color: #fff; */
        /* border-radius: 8px; */
        /* padding: 15px; */
        /* margin-bottom: 30px; */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
      }
      #foodimg:hover,.menu-item:hover {
        transform: translateY(-5px);
      }
      
      .partner-executives {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
}
        .partner {
            display: inline;
    width: 45%;
    max-width: 250px;
    height: 150px;
    background-color: #e75b1e;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    
}

.partner-count {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}

.partner p {
    text-align: center;
    color: white;
}
    </style>
  </head>
  <body>
    <div id="site-header">
      <header id="header" class="header-block-top">
          <div class="container">
              <div class="row">
                  <div class="main-menu">
                      <!-- navbar -->
                      <nav class="navbar navbar-default" id="mainNav">
                          <div class="navbar-header">
                              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                  <span class="sr-only">Toggle navigation</span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                              </button>
                              <div class="logo">
                                  <a class="navbar-brand js-scroll-trigger logo-header" href="#">
                                      <img src="static/images/logo.png" alt="">
                                  </a>
                              </div>
                          </div>
                          <div id="navbar" class="navbar-collapse collapse">
                              <ul class="nav navbar-nav navbar-right">
                                  <li class="active"><a href="#banner">Home</a></li>
                                  <li><a href="#about">About us</a></li>
                                  <li><a href="#restaurant" 
                                    >Restaurant</a
                                  ></li>
                                  <li><a href="#order">Delivery</a></li>
                                  <li><a href="#foodmenu">Menu</a></li>
                                  <li><a href="#footer">Contact us</a></li>
                                  
                                  <li><a href="{{ url_for('home')}}" >Sign Out</a></li>
                                </ul>
                          </div>
                          <!-- end nav-collapse -->
                      </nav>
                      <!-- end navbar -->
                  </div>
              </div>
              <!-- end row -->
          </div>
          <!-- end container-fluid -->
      </header>
      <!-- end header -->
  </div>
  <div id="banner" class="banner full-screen-mode parallax">
    <div class="container pr">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="banner-static">
                <div class="banner-text">
                    <div class="banner-cell">
                        <h1>Dinner with us  <span class="typer" id="some-id" data-delay="200" data-delim=":" data-words="Friends:Family:Officemates" data-colors="red"></span><span class="cursor" data-cursorDisplay="_" data-owner="some-id"></span></h1>
                        <h2>Delicious Meals, Delivered Fast </h2>
                        <p class="block-title">Craving your favorite food? We've got you covered!
                            Browse restaurants near you, order in just a few taps, and enjoy hot, fresh meals delivered straight to your door.
                            <br>
                            🍔 Fresh Ingredients      
                            🚀 Lightning-Fast Delivery 
                            💳 Easy and Secure Payments
                            <br>
                            Order now and satisfy your cravings!</p>

                            <div class="book-btn">
                              <a href="#order" class="table-btn hvr-underline-from-center">Delivery Order</a>
                          </div>
                        
                        <a href="#about">
                            <div class="mouse"></div>
                        </a>
                    </div>
                    <!-- end banner-cell -->
                </div>
                <!-- end banner-text -->
            </div>
            <!-- end banner-static -->
        </div>
        <!-- end col -->
    </div>
    <!-- end container -->
</div>
<!-- end banner -->

<div id="about" class="about-main pad-top-100 pad-bottom-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                    <h2 class="block-title"> About Us </h2>
                    <h3>IT STARTED, QUITE SIMPLY, LIKE THIS...</h3>
                    <h3>Welcome to Food Funday! 🎉🍴</h3>
                    <p style="color: black; font-weight:bolder;"> 

                        At Food Funday, we believe every meal should be a celebration.
                        Whether you’re craving a cheesy pizza, spicy biryani, or a sweet dessert, we bring the best dishes from your favorite restaurants right to your doorstep — fresh, fast, and full of flavor.
                        
                        With our user-friendly interface, ordering from your go-to restaurants has never been smoother. Whether it's a quick bite from your local diner or a special treat from a renowned chain, we've got you covered. Our diverse selection of eateries ensures there's something to please every palate. And with our efficient delivery service, you can enjoy restaurant-quality meals in the comfort of your own home. So sit back, relax, and let us take care of your cravings. With our food delivery app, delicious meals are just a few taps away.
                       
                        
                         </p>

                    <p style="color: black; font-weight:bolder;">  
                         And with our efficient delivery service, We’re passionate about making your food ordering experience simple, fun, and reliable. You can enjoy restaurant-quality meals in the comfort of your own home. So sit back, relax, and let us take care of your cravings. With our food delivery app, delicious meals are just a few taps away.
                        With just a few clicks, you can explore new tastes, support local kitchens, and enjoy delicious moments every day. </p>

                    <p style="color: black; font-weight:bolder;">Because every day is a Funday when great food is just a tap away! </p>

                    
                </div>
                
            </div>
            <!-- end col -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                    <div class="about-images">
                        <img class="about-main" src="static/images/about-main.jpg" alt="About Main Image">
                        <img class="about-inset" src="static/images/about-inset.jpg" alt="About Inset Image">
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <div class="partner-executives">
            <div class="partner">
              <div class="partner-count">10+</div>
              <p>Restaurant Partners</p>
            </div>
            <div class="partner">
              <div class="partner-count">10+</div>
              <p>Happy Customers</p>
            </div>
            <div class="partner">
              <div class="partner-count">10+</div>
              <p>Delivery Executives</p>
            </div>
          </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<div class="special-menu pad-top-100 parallax1" id="restaurant">
    <div class="container" >
     
          <div class="row align-items-center restaurant-card">
             <!-- Right side: Image -->
             <div class="col-md-5 text-center">
              <img src="{{ restaurant_details.resphoto_url }}" alt="Restaurant Image" class="img-fluid rounded" style="height: 400px; width: auto;">
            </div>
        
            <!-- Left side: Text -->
            <div class="col-md-7">
              <h2 class="block-title">{{ restaurant_details.restaurant_name }}</h2>
        
              <div class="info-line"><span class="label">Cuisine</span>: <span>{{ restaurant_details.cuisine_type }}</span></div>
              <div class="info-line"><span class="label">Rating</span>: <span>{{ restaurant_details.rating }}</span></div>
        
              <h4 class="mt-4" style="color: #e75b1e; font-size: x-large; font-family: 'nautilus_pompiliusregular';">Contact Details:</h4>
              <div class="info-line"><span class="label">Email</span>: <span>{{ restaurant_details.email }}</span></div>
              <div class="info-line"><span class="label">Phone Number</span>: <span>{{ restaurant_details.phone }}</span></div>
        
              <h4 class="mt-4" style="color: #e75b1e; font-size: x-large; font-family: 'nautilus_pompiliusregular';">Bank Details:</h4>
              <div class="info-line"><span class="label">Account Number</span>: <span>{{ restaurant_details.account_no }}</span></div>
              <div class="info-line"><span class="label">IFSC Code</span>: <span>{{ restaurant_details.IFSC_code }}</span></div>
              <div class="info-line"><span class="label">Bank Name</span>: <span>{{ restaurant_details.bank_name }}</span></div>
        
              <div class="info-line mt-4"><span class="label">Earnings</span>: <span>{{ restaurant_details.balance_earned }}</span></div>
              <div class="info-line"><span class="label">Reviews</span>: <span>{{ restaurant_details.review }}</span></div>
            </div>
        
           
        </div>
        


  
    </div>


  </div>

  <div id="reservation" class="reservations-main pad-top-100 pad-bottom-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="form-reservations-box" id="order">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                        <h2 class="block-title text-center">
                Online Delivery Within 10 Minutes	
                </h2>
                    </div><br>
                    <!-- <div class="row align-items-center"> -->
  
                        <!-- Left Side: Text -->
                        <div class="col-lg-6 col-md-6">
                          <div class="Home-text">
                            <h2 class="block-title" style="color: black;">Get your Food , <br> Delivery at your Doorstep</h2>
                            <h4 style="font-size: 30px; font-family: nautilus_pompiliusregular;" class="block-title">Check the website and get our ice cream, snacks,<br> drinks, pastries in 10 minutes.</h4>
                          </div>
                        </div>
                  
                        <!-- Right Side: Image -->
                        <div class="col-lg-6 col-md-6 text-center">
                          <div class="Home-image-div">
                            <img src="../../static/Assets/Images/food-delivery-rider.png" class="home-image img-fluid" alt="Food Delivery Rider">
                          </div>
                        </div>
                  
                      </div>
                    
                    
                        
                        <!-- end col -->
                    </form>
                    <!-- end form -->
                </div>
                <!-- end col -->
            </div>
            <h2 class="block-title text-center">Orders</h2>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Order ID</th>
                    <th>Item Names</th>
                    <th>Item Quantities</th>
                    <th>Notes</th>
                    <th>Order Status</th>
                    <th>Placed Time</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody>
                  {% for order in order_details %}
                  <tr>
                    <td>{{ order.order_id }}</td>
                    <td>{{ order.item_names }}</td>
                    <td>{{ order.item_quantities }}</td>
                    <td>{{ order.notes }}</td>
                    <td>{{ order.order_status }}</td>
                    <td>{{ order.placed_time }}</td>
                    <td>{{ order.amount }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- end reservations-box -->
        </div>
        <!-- end row -->
    
    <!-- end container -->
</div>


    <div id="foodmenu" class="pad-top-100 pad-bottom-100 parallax">
      <div class="container my-5" style="color: black;">
        <h2 class="block-title text-center" style=" color: white;">Menu</h2>
        <br>
        <div class="text-center my-3">
          <a href="{{ url_for('add_item') }}" class="btn btn-success" style="background-color: #e75b1e; border-color: #e75b1e;">Add New Item</a>
        </div>
    
        <div class="row" style="margin-top: 20px;">
          {% for food in menu %}
          <div class="col-md-6 col-lg-4">
            <!-- <div id="foodimg">
              {% if food.photo_url %}
              <img src="{{ food.photo_url }}" class="img-fluid" style="height: 250px; width: 320px;" alt="Food Image">
              {% endif %}
            </div> -->
    
            <div class="menu-item" style="margin-top: 10px;">
              <!-- <div id="foodimg"> -->
                <!-- Optional: Add image if available -->
                {% if food.photo_url %}
                <img src="{{ food.photo_url }}" class="img-fluid" style="height: 250px; width: 320px;" alt="Food Image">
                {% endif %}
              <!-- </div> -->
              <h5 class="block-title text-center" style="font-size: x-large;">{{ food.item_name }}</h5>
              <p class="text">Price: {{ food.item_price }}</p>
              <p class="text">Rating: {{ food.item_rating }}</p>
              <p class="text">Type: {{ food.item_type }}</p>
              <p class="text">Orders: {{ food.order_count }}</p>
              <p class="text">Availability: {{ food.availability }}</p>
              <p class="text">Vegetarian: {{ food.vegetarian }}</p>
    
              <div class="text-center">
                <a href="{{ url_for('edit_menu', item_id=food.item_id, rest_id=restaurant_id) }}" class="btn btn-primary m-1" style="background-color: #e75b1e; border-color: #e75b1e;">Edit</a>
                <a href="{{ url_for('delete_item', item_id=food.item_id) }}" class="btn btn-danger m-1">Delete</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div id="gallery" class="gallery-main pad-top-100 pad-bottom-100">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                      <h2 class="block-title text-center">
          Our Gallery	
        </h2>
                      <p class="title-caption text-center">Explore our mouthwatering creations and get a glimpse of the deliciousness that awaits you! From sizzling pizzas to flavorful curries and refreshing drinks, every dish tells a story of passion, freshness, and authenticity.</p>
                  </div>
                  <div class="gal-container clearfix">
                      <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
                          <div class="box">
                              <a href="#" data-toggle="modal" data-target="#1">
                                  <img src="static/images/gallery_01.jpg" alt="" />
                              </a>
                              <div class="modal fade" id="1" tabindex="-1" role="dialog">
                                  <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                          <div class="modal-body">
                                              <img src="static/images/gallery_01.jpg" alt="" />
                                          </div>
                                          <div class="col-md-12 description">
                                              <h4>This is the 1 one on my Gallery</h4>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                          <div class="box">
                              <a href="#" data-toggle="modal" data-target="#2">
                                  <img src="static/images/gallery_02.jpg" alt="" />
                              </a>
                              <div class="modal fade" id="2" tabindex="-1" role="dialog">
                                  <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                          <div class="modal-body">
                                              <img src="static/images/gallery_02.jpg" alt="" />
                                          </div>
                                          <div class="col-md-12 description">
                                              <h4>This is the 2 one on my Gallery</h4>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                          <div class="box">
                              <a href="#" data-toggle="modal" data-target="#3">
                                  <img src="static/images/gallery_03.jpg" alt="" />
                              </a>
                              <div class="modal fade" id="3" tabindex="-1" role="dialog">
                                  <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                          <div class="modal-body">
                                              <img src="static/images/gallery_03.jpg" alt="" />
                                          </div>
                                          <div class="col-md-12 description">
                                              <h4>This is the 3 one on my Gallery</h4>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                          <div class="box">
                              <a href="#" data-toggle="modal" data-target="#4">
                                  <img src="static/images/gallery_04.jpg" alt="" />
                              </a>
                              <div class="modal fade" id="4" tabindex="-1" role="dialog">
                                  <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                          <div class="modal-body">
                                              <img src="static/images/gallery_04.jpg" alt="" />
                                          </div>
                                          <div class="col-md-12 description">
                                              <h4>This is the 4 one on my Gallery</h4>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                          <div class="box">
                              <a href="#" data-toggle="modal" data-target="#5">
                                  <img src="static/images/gallery_05.jpg" alt="" />
                              </a>
                              <div class="modal fade" id="5" tabindex="-1" role="dialog">
                                  <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                          <div class="modal-body">
                                              <img src="static/images/gallery_05.jpg" alt="" />
                                          </div>
                                          <div class="col-md-12 description">
                                              <h4>This is the 5 one on my Gallery</h4>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                          <div class="box">
                              <a href="#" data-toggle="modal" data-target="#9">
                                  <img src="static/images/gallery_06.jpg" alt="" />
                              </a>
                              <div class="modal fade" id="9" tabindex="-1" role="dialog">
                                  <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                          <div class="modal-body">
                                              <img src="static/images/gallery_06.jpg" alt="" />
                                          </div>
                                          <div class="col-md-12 description">
                                              <h4>This is the 6 one on my Gallery</h4>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
                          <div class="box">
                              <a href="#" data-toggle="modal" data-target="#10">
                                  <img src="static/images/gallery_07.jpg" alt="" />
                              </a>
                              <div class="modal fade" id="10" tabindex="-1" role="dialog">
                                  <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                          <div class="modal-body">
                                              <img src="static/images/gallery_07.jpg" alt="" />
                                          </div>
                                          <div class="col-md-12 description">
                                              <h4>This is the 7 one on my Gallery</h4>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                          <div class="box">
                              <a href="#" data-toggle="modal" data-target="#11">
                                  <img src="static/images/gallery_08.jpg" alt="" />
                              </a>
                              <div class="modal fade" id="11" tabindex="-1" role="dialog">
                                  <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                          <div class="modal-body">
                                              <img src="static/images/gallery_08.jpg" alt="" />
                                          </div>
                                          <div class="col-md-12 description">
                                              <h4>This is the 8 one on my Gallery</h4>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                          <div class="box">
                              <a href="#" data-toggle="modal" data-target="#12">
                                  <img src="static/images/gallery_09.jpg" alt="" />
                              </a>
                              <div class="modal fade" id="12" tabindex="-1" role="dialog">
                                  <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                          <div class="modal-body">
                                              <img src="static/images/gallery_09.jpg" alt="" />
                                          </div>
                                          <div class="col-md-12 description">
                                              <h4>This is the 9 one on my Gallery</h4>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                          <div class="box">
                              <a href="#" data-toggle="modal" data-target="#13">
                                  <img src="static/images/gallery_10.jpg" alt="" />
                              </a>
                              <div class="modal fade" id="13" tabindex="-1" role="dialog">
                                  <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                          <div class="modal-body">
                                              <img src="static/images/gallery_10.jpg" alt="" />
                                          </div>
                                          <div class="col-md-12 description">
                                              <h4>This is the 10 one on my Gallery</h4>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- end gal-container -->
              </div>
              <!-- end col -->
          </div>
          <!-- end row -->
      </div>
      <!-- end container -->
  </div>
    <div id="our_team" class="team-main pad-top-100 pad-bottom-100 parallax">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                      <h2 class="block-title text-center">
          Our Team 	
        </h2>
                      <p class="title-caption text-center">At Food Funday, we’re a passionate team of food lovers, innovators, and dreamers dedicated to bringing the best dining experience straight to your door. Each member of our team plays a crucial role in ensuring your food journey is smooth, delicious, and fun! </p>
                  </div>
                  <div class="team-box">

                      <div class="row">
                          <div class="col-md-4 col-sm-6">
                              <div class="sf-team">
                                  <div class="thumb">
                                      <a href="#"><img src="static/images/staff-01.jpg" alt=""></a>
                                  </div>
                                  <div class="text-col">
                                      <h3>John Doggett</h3>
                                      <p>Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Aenean commodo ligula.</p>
                                      <ul class="team-social">
                                          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                          <!-- end col -->
                          <div class="col-md-4 col-sm-6">
                              <div class="sf-team">
                                  <div class="thumb">
                                      <a href="#"><img src="static/images/staff-02.jpg" alt=""></a>
                                  </div>
                                  <div class="text-col">
                                      <h3>Jeffrey Spender</h3>
                                      <p>Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Aenean commodo ligula.</p>
                                      <ul class="team-social">
                                          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                          <!-- end col -->
                          <div class="col-md-4 col-sm-6">
                              <div class="sf-team">
                                  <div class="thumb">
                                      <a href="#"><img src="static/images/staff-03.jpg" alt=""></a>
                                  </div>
                                  <div class="text-col">
                                      <h3>Monica Reyes</h3>
                                      <p>Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Aenean commodo ligula.</p>
                                      <ul class="team-social">
                                          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                          <!-- end col -->
                      </div>
                      <!-- end row -->

                  </div>
                  <!-- end team-box -->

              </div>
              <!-- end col -->
          </div>
          <!-- end row -->
      </div>
      <!-- end container -->
  </div>
  <div id="pricing" class="pricing-main pad-top-100 pad-bottom-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="block-title text-center">
        Pricing Offers	
      </h2>
                <p>Celebrate flavor with our exclusive, limited-time offers — premium dishes at festive prices!</p>
            </div>
            <div class="panel-pricing-in">
                <!-- item -->
                <div class="col-md-4 col-sm-4 text-center">
                    <div class="panel panel-pricing">
                        <div class="panel-heading">
                            <div class="pric-icon">
                                <img src="static/images/store.png" alt="" />
                            </div>
                            <h3>Basic</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>₹300/<span>Month</span></strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i> Ideal for casual foodies</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> No subscription fee</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Access to selected restaurants</li>
                            <li class="list-group-item"><i class="fa fa-times"></i> Standard delivery time</li>
                            <li class="list-group-item"><i class="fa fa-times"></i> Pay per order with exciting deals</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 24x7 Support</li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block hvr-underline-from-center" href="#">Purchase Now!</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="col-md-4 col-sm-4 text-center">
                    <div class="panel panel-pricing">
                        <div class="panel-heading">
                            <div class="pric-icon">
                                <img src="static/images/food.png" alt="" />
                            </div>
                            <h3>Pro</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>₹600/<span>Month</span></strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i> Access to premium restaurants</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> For the ultimate food lovers</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Faster delivery with priority support</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Special discounts on select meals</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Monthly subscription with extra discounts</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 24x7 Support</li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block hvr-underline-from-center" href="#">Purchase Now!</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="col-md-4 col-sm-4 text-center">
                    <div class="panel panel-pricing">
                        <div class="panel-heading">
                            <div class="pric-icon">
                                <img src="static/images/coffee.png" alt="" />
                            </div>
                            <h3>Platinum</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>₹900/<span>Month</span></strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i> Unlimited restaurant access</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Free delivery on all orders</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Special rewards every month</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Exclusive Platinum-only deals and offers</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Priority delivery on all orders</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 24x7 Support</li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block hvr-underline-from-center" href="#">Purchase Now!</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>

    <div id="footer" class="footer-main">
      <div class="footer-news pad-top-100 pad-bottom-70 parallax">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                          <h2 class="ft-title color-white text-center"> Newsletter </h2>
                          <p> Stay Updated with the Latest Flavors, Deals & More!</p>
                      </div>
                      <form>
                          <input type="email" placeholder="Enter your e-mail id">
                          <a href="#" class="orange-btn"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a>
                      </form>
                  </div>
                  <!-- end col -->
              </div>
              <!-- end row -->
          </div>
          <!-- end container -->
      </div>
      <!-- end footer-news -->
      <div class="footer-box pad-top-70">
          <div class="container">
              <div class="row">
                  <div class="footer-in-main">
                      <div class="footer-logo">
                          <div class="text-center">
                              <img src="static/images/logo.png" alt="" />
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                          <div class="footer-box-a">
                              <h3>About Us</h3>
                              <p>At Food Funday, we believe every meal should be a celebration.
                                   We bring the best dishes from your favorite restaurants right to your doorstep — fresh, fast, and full of flavor.</p>
                              <ul class="socials-box footer-socials pull-left">
                                  <li>
                                      <a href="#">
                                          <div class="social-circle-border"><i class="fa  fa-facebook"></i></div>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                          <div class="social-circle-border"><i class="fa fa-twitter"></i></div>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                          <div class="social-circle-border"><i class="fa fa-google-plus"></i></div>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                          <div class="social-circle-border"><i class="fa fa-pinterest"></i></div>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                          <div class="social-circle-border"><i class="fa fa-linkedin"></i></div>
                                      </a>
                                  </li>
                              </ul>

                          </div>
                          <!-- end footer-box-a -->
                      </div>
                      <!-- end col -->
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                          <div class="footer-box-b">
                              <h3>Popular cuisines</h3>
                              <ul>
                                <li><a href="{{ url_for('login') }}"> Hyderabadi</a></li>
                                <li><a href="{{ url_for('login') }}"> Kerala</a></li>
                                <li><a href="{{ url_for('login') }}"> Maharahstrian</a></li>
                                <li><a href="{{ url_for('login') }}"> Parsi</a></li>
                            </ul>
                          </div>
                          <!-- end footer-box-b -->
                      </div>
                      <!-- end col -->
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                          <div class="footer-box-c">
                              <h3>Contact Us</h3>
                              <p>
                                  <i class="fa fa-map-signs" aria-hidden="true"></i>
                                  <span>6 E, Gandhi Road, Bengaluru, India</span>
                              </p>
                              <p>
                                  <i class="fa fa-mobile" aria-hidden="true"></i>
                                  <span>
                +91 80005 89080 
              </span>
                              </p>
                              <p>
                                  <i class="fa fa-envelope" aria-hidden="true"></i>
                                  <span><a href="#">support@foodfunday.com</a></span>
                              </p>
                          </div>
                          <!-- end footer-box-c -->
                      </div>
                      <!-- end col -->
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                          <div class="footer-box-d">
                              <h3>Opening Hours</h3>

                              <ul>
                                  <li>
                                      <p>Monday - Thursday </p>
                                      <span> 11:00 AM - 9:00 PM</span>
                                  </li>
                                  <li>
                                      <p>Friday - Saturday </p>
                                      <span>  11:00 AM - 5:00 PM</span>
                                  </li>
                              </ul>
                          </div>
                          <!-- end footer-box-d -->
                      </div>
                      <!-- end col -->
                  </div>
                  <!-- end footer-in-main -->
              </div>
              <!-- end row -->
          </div>
          <!-- end container -->
          <div id="copyright" class="copyright-main">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <h6 class="copy-title"> Copyright &copy; 2025 Food Funday. All rights are received.  </h6>
                      </div>
                  </div>
                  <!-- end row -->
              </div>
              <!-- end container -->
          </div>
          <!-- end copyright-main -->
      </div>
      <!-- end footer-box -->
  </div>
  <!-- end footer-main -->

  

  <!-- ALL JS FILES -->
  <!-- <script src="staitc/js/all.js"></script> -->
  <script src="static/js/bootstrap.min.js"></script>
  <!-- ALL PLUGINS -->
  <script src="static/js/custom.js"></script>
  <script src="static/js/all.js"></script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script>
  window.addEventListener('scroll', function() {
    const header = document.getElementById('header');
    if (window.scrollY > 50) {
      header.classList.add('fixed-menu');
    } else {
      header.classList.remove('fixed-menu');
    }
  });

      function goBack() {
        window.location.href = "/";
      }
      $(document).ready(function(){
          $("#owl-demo").owlCarousel({
            items: 3,
            loop: true,
            margin: 10,
            autoplay: true,
            autoplayTimeout: 3000,
            autoplayHoverPause: true
          });
        });
        $('.slider-single').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows: false,
    fade: false,
    adaptiveHeight: true,
    infinite: false,
    useTransform: true,
    speed: 400,
    cssEase: 'cubic-bezier(0.77, 0, 0.18, 1)',
    asNavFor: '.slider-nav' // 🔥 Important: link to slider-nav
});

$('.slider-nav').slick({
    slidesToShow: 4,
    slidesToScroll: 1,
    asNavFor: '.slider-single', // 🔥 Important: link to slider-single
    dots: false,
    centerMode: false,
    focusOnSelect: true,
    infinite: false,
    responsive: [
        {
            breakpoint: 1024,
            settings: {
                slidesToShow: 4,
                slidesToScroll: 1,
            }
        },
        {
            breakpoint: 769,
            settings: {
                slidesToShow: 4,
                slidesToScroll: 1,
            }
        },
        {
            breakpoint: 420,
            settings: {
                slidesToShow: 3,
                slidesToScroll: 1,
            }
        }
    ]
});

// Highlight the active tab
$('.slider-single').on('afterChange', function(event, slick, currentSlide) {
    $('.slider-nav .slick-slide').removeClass('is-active');
    $('.slider-nav .slick-slide[data-slick-index="' + currentSlide + '"]').addClass('is-active');
});
function goBack() {
        window.location.href = "/";
      }
    </script>
  </body>
</html>
    
