<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Menu Item</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../../static/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slick.css') }}">

    <!-- color -->
    <link id="changeable-colors" rel="stylesheet" href="{{ url_for('static', filename='css/colors/orange.css') }}">

    <!-- Modernizer -->
    <script src="{{ url_for('static', filename='js/modernizer.js') }}"></script>
    <style>
      body {
        font-family: Arial, sans-serif;
        /* background-color: #f4f4f4; */
        /* padding: 20px; */
      }
      h1 {
        text-align: center;
        margin-bottom: 20px;
      }
      form {
        max-width: 400px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }
      label {
        font-weight: bold;
      }
      input[type="text"],
      input[type="number"]{
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      input[type="submit"] {
        background-color: #4caf50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
        font-size: 16px;
      }
      input[type="submit"]:hover {
        background-color: #45a049;
      }
    </style>
  </head>
  <body>
    <div id="site-header">
      <header id="header" class="header-block-top">
          <div class="container">
              <div class="row">
                  <div class="main-menu">
                      <!-- navbar -->
                      <nav class="navbar navbar-default" id="mainNav">
                          <div class="navbar-header">
                              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                  <span class="sr-only">Toggle navigation</span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                              </button>
                              <div class="logo">
                                  <a class="navbar-brand js-scroll-trigger logo-header" href="#">
                                      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="">
                                  </a>
                              </div>
                          </div>
                          <div id="navbar" class="navbar-collapse collapse">
                              <ul class="nav navbar-nav navbar-right">
                                  <li class="active"><a href="{{ url_for('restaurant_details')}}#banner">Home</a></li>
                                  <li><a href="{{ url_for('restaurant_details')}}#about">About us</a></li>
                                  <li><a href="{{ url_for('restaurant_details')}}#restaurant" 
                                    >Restaurant</a
                                  ></li>
                                  <li><a href="{{ url_for('restaurant_details')}}#order">Delivery</a></li>
                                  <li><a href="{{ url_for('restaurant_details')}}#foodmenu">Menu</a></li>
                                  <li><a href="#footer">Contact us</a></li>
                                  
                                  <li><a href="{{ url_for('home')}}" >Sign Out</a></li>
                                </ul>
                          </div>
                          <!-- end nav-collapse -->
                      </nav>
                      <!-- end navbar -->
                  </div>
              </div>
              <!-- end row -->
          </div>
          <!-- end container-fluid -->
      </header>
      <!-- end header -->
  </div>
    <div  class="banner full-screen-mode parallax">
      <div  class="container">
    <h1 class="block-title" style="padding-top: 100px;">Edit Menu Item</h1>
    <form action="" method="POST">
      {% for food in food_item %}
      <label for="item_name">Item Name:</label>
      <input
        type="text"
        id="item_name"
        name="item_name"
        value="{{ food.item_name }}"
        required
      /><br>
      <label for="item_price">Item Price:</label>
      <input
        type="number"
        id="item_price"
        name="item_price"
        value="{{ food.item_price }}"
        required
      /><br>

      <label for="item_type">Item Type:</label>
      <input
        type="text"
        id="item_type"
        name="item_type"
        value="{{ food.item_type }}"
        required
      />
      <label for="item_img">Image url:</label>
        <input type="text" id="item_img" name="item_img"  value="{{ food.photo_url }}" required><br><br>

      <label for="vegetarian" style="display: inline-block;">Vegetarian:</label>
      <input style="margin-left: 20px;"
        type="checkbox"
        id="vegetarian"
        name="vegetarian"
        {%
        if
        food.vegetarian
        %}checked{%
        endif
        %}
      /><br>

      <label for="availability" style="display: inline-block;">Availability:</label>
      <input style="margin-left: 20px;"
        type="checkbox"
        id="availability"
        name="availability"
        {%
        if
        food.availability
        %}checked{%
        endif
        %}
      /><br><br>

      <input type="submit"  style="background-color: #e75b1e; border-color: #e75b1e;"  value="Submit" />
      {% endfor %}
    </form>
  </div>
</div>

<div id="gallery" class="gallery-main pad-top-100 pad-bottom-100">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                  <h2 class="block-title text-center">
                  Our Gallery	
              </h2>
                  <p class="title-caption text-center">Explore our mouthwatering creations and get a glimpse of the deliciousness that awaits you! From sizzling pizzas to flavorful curries and refreshing drinks, every dish tells a story of passion, freshness, and authenticity.</p>
              </div>
              <div class="gal-container clearfix">
                  <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
                      <div class="box">
                          <a href="#" data-toggle="modal" data-target="#1">
                              <img src="../../static/images/gallery_01.jpg" alt="" />
                          </a>
                          <div class="modal fade" id="1" tabindex="-1" role="dialog">
                              <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                      <div class="modal-body">
                                          <img src="../../static/images/gallery_01.jpg" alt="" />
                                      </div>
                                      <div class="col-md-12 description">
                                          <h4>This is the 1 one on my Gallery</h4>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                      <div class="box">
                          <a href="#" data-toggle="modal" data-target="#2">
                              <img src="../../static/images/gallery_02.jpg" alt="" />
                          </a>
                          <div class="modal fade" id="2" tabindex="-1" role="dialog">
                              <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                      <div class="modal-body">
                                          <img src="../../static/images/gallery_02.jpg" alt="" />
                                      </div>
                                      <div class="col-md-12 description">
                                          <h4>This is the 2 one on my Gallery</h4>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                      <div class="box">
                          <a href="#" data-toggle="modal" data-target="#3">
                              <img src="../../static/images/gallery_03.jpg" alt="" />
                          </a>
                          <div class="modal fade" id="3" tabindex="-1" role="dialog">
                              <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                      <div class="modal-body">
                                          <img src="../../static/images/gallery_03.jpg" alt="" />
                                      </div>
                                      <div class="col-md-12 description">
                                          <h4>This is the 3 one on my Gallery</h4>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                      <div class="box">
                          <a href="#" data-toggle="modal" data-target="#4">
                              <img src="../../static/images/gallery_04.jpg" alt="" />
                          </a>
                          <div class="modal fade" id="4" tabindex="-1" role="dialog">
                              <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                      <div class="modal-body">
                                          <img src="../../static/images/gallery_04.jpg" alt="" />
                                      </div>
                                      <div class="col-md-12 description">
                                          <h4>This is the 4 one on my Gallery</h4>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                      <div class="box">
                          <a href="#" data-toggle="modal" data-target="#5">
                              <img src="../../static/images/gallery_05.jpg" alt="" />
                          </a>
                          <div class="modal fade" id="5" tabindex="-1" role="dialog">
                              <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                      <div class="modal-body">
                                          <img src="../../static/images/gallery_05.jpg" alt="" />
                                      </div>
                                      <div class="col-md-12 description">
                                          <h4>This is the 5 one on my Gallery</h4>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                      <div class="box">
                          <a href="#" data-toggle="modal" data-target="#9">
                              <img src="../../static/images/gallery_06.jpg" alt="" />
                          </a>
                          <div class="modal fade" id="9" tabindex="-1" role="dialog">
                              <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                      <div class="modal-body">
                                          <img src="../../static/images/gallery_06.jpg" alt="" />
                                      </div>
                                      <div class="col-md-12 description">
                                          <h4>This is the 6 one on my Gallery</h4>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
                      <div class="box">
                          <a href="#" data-toggle="modal" data-target="#10">
                              <img src="../../static/images/gallery_07.jpg" alt="" />
                          </a>
                          <div class="modal fade" id="10" tabindex="-1" role="dialog">
                              <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                      <div class="modal-body">
                                          <img src="../../static/images/gallery_07.jpg" alt="" />
                                      </div>
                                      <div class="col-md-12 description">
                                          <h4>This is the 7 one on my Gallery</h4>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                      <div class="box">
                          <a href="#" data-toggle="modal" data-target="#11">
                              <img src="../../static/images/gallery_08.jpg" alt="" />
                          </a>
                          <div class="modal fade" id="11" tabindex="-1" role="dialog">
                              <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                      <div class="modal-body">
                                          <img src="../../static/images/gallery_08.jpg" alt="" />
                                      </div>
                                      <div class="col-md-12 description">
                                          <h4>This is the 8 one on my Gallery</h4>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                      <div class="box">
                          <a href="#" data-toggle="modal" data-target="#12">
                              <img src="../../static/images/gallery_09.jpg" alt="" />
                          </a>
                          <div class="modal fade" id="12" tabindex="-1" role="dialog">
                              <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                      <div class="modal-body">
                                          <img src="../../static/images/gallery_09.jpg" alt="" />
                                      </div>
                                      <div class="col-md-12 description">
                                          <h4>This is the 9 one on my Gallery</h4>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                      <div class="box">
                          <a href="#" data-toggle="modal" data-target="#13">
                              <img src="../../static/images/gallery_10.jpg" alt="" />
                          </a>
                          <div class="modal fade" id="13" tabindex="-1" role="dialog">
                              <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                      <div class="modal-body">
                                          <img src="../../static/images/gallery_10.jpg" alt="" />
                                      </div>
                                      <div class="col-md-12 description">
                                          <h4>This is the 10 one on my Gallery</h4>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- end gal-container -->
          </div>
          <!-- end col -->
      </div>
      <!-- end row -->
  </div>
  <!-- end container -->
</div>

  <div id="footer" class="footer-main">
      <div class="footer-news pad-top-100 pad-bottom-70 parallax">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                          <h2 class="ft-title color-white text-center"> Newsletter </h2>
                          <p> Stay Updated with the Latest Flavors, Deals & More!</p>
                      </div>
                      <form>
                          <input type="email" placeholder="Enter your e-mail id">
                          <a href="#" class="orange-btn"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a>
                      </form>
                  </div>
                  <!-- end col -->
              </div>
              <!-- end row -->
          </div>
          <!-- end container -->
      </div>
      <!-- end footer-news -->
      <div class="footer-box pad-top-70">
          <div class="container">
              <div class="row">
                  <div class="footer-in-main">
                      <div class="footer-logo">
                          <div class="text-center">
                              <img src="static/images/logo.png" alt="" />
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                          <div class="footer-box-a">
                              <h3>About Us</h3>
                              <p>At Food Funday, we believe every meal should be a celebration.
                                   We bring the best dishes from your favorite restaurants right to your doorstep — fresh, fast, and full of flavor.</p>
                              <ul class="socials-box footer-socials pull-left">
                                  <li>
                                      <a href="#">
                                          <div class="social-circle-border"><i class="fa  fa-facebook"></i></div>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                          <div class="social-circle-border"><i class="fa fa-twitter"></i></div>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                          <div class="social-circle-border"><i class="fa fa-google-plus"></i></div>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                          <div class="social-circle-border"><i class="fa fa-pinterest"></i></div>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                          <div class="social-circle-border"><i class="fa fa-linkedin"></i></div>
                                      </a>
                                  </li>
                              </ul>

                          </div>
                          <!-- end footer-box-a -->
                      </div>
                      <!-- end col -->
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                          <div class="footer-box-b">
                              <h3>Popular cuisines</h3>
                              <ul>
                                <li><a href="{{ url_for('login') }}"> Hyderabadi</a></li>
                                <li><a href="{{ url_for('login') }}"> Kerala</a></li>
                                <li><a href="{{ url_for('login') }}"> Maharahstrian</a></li>
                                <li><a href="{{ url_for('login') }}"> Parsi</a></li>
                            </ul>
                          </div>
                          <!-- end footer-box-b -->
                      </div>
                      <!-- end col -->
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                          <div class="footer-box-c">
                              <h3>Contact Us</h3>
                              <p>
                                  <i class="fa fa-map-signs" aria-hidden="true"></i>
                                  <span>6 E, Gandhi Road, Bengaluru, India</span>
                              </p>
                              <p>
                                  <i class="fa fa-mobile" aria-hidden="true"></i>
                                  <span>
                +91 80005 89080 
              </span>
                              </p>
                              <p>
                                  <i class="fa fa-envelope" aria-hidden="true"></i>
                                  <span><a href="#">support@foodfunday.com</a></span>
                              </p>
                          </div>
                          <!-- end footer-box-c -->
                      </div>
                      <!-- end col -->
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                          <div class="footer-box-d">
                              <h3>Opening Hours</h3>

                              <ul>
                                  <li>
                                      <p>Monday - Thursday </p>
                                      <span> 11:00 AM - 9:00 PM</span>
                                  </li>
                                  <li>
                                      <p>Friday - Saturday </p>
                                      <span>  11:00 AM - 5:00 PM</span>
                                  </li>
                              </ul>
                          </div>
                          <!-- end footer-box-d -->
                      </div>
                      <!-- end col -->
                  </div>
                  <!-- end footer-in-main -->
              </div>
              <!-- end row -->
          </div>
          <!-- end container -->
          <div id="copyright" class="copyright-main">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <h6 class="copy-title"> Copyright &copy; 2025 Food Funday. All rights are received.  </h6>
                      </div>
                  </div>
                  <!-- end row -->
              </div>
              <!-- end container -->
          </div>
          <!-- end copyright-main -->
      </div>
      <!-- end footer-box -->
  </div>
  <!-- end footer-main -->

  

  <!-- ALL JS FILES -->
  <!-- <script src="staitc/js/all.js"></script> -->
  <!-- <script src="{{ url_for('static', filename='js/all.js') }}"></script> -->
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <!-- ALL PLUGINS -->
  <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
  <script src="{{ url_for('static', filename='js/all.js') }}"></script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script>
  window.addEventListener('scroll', function() {
    const header = document.getElementById('header');
    if (window.scrollY > 50) {
      header.classList.add('fixed-menu');
    } else {
      header.classList.remove('fixed-menu');
    }
  });
</script> 
  </body>
</html>
